.App{
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
}
.control-container {
  display: flex;
  flex-direction: column; 
  margin-top: 100px;
  margin-left: 20px;
}

.plot-container {
  display: flex;
  flex-direction: column; 
  margin-top: 100px;
  margin-left: 100px;
}

.summary-container {
  display: flex;
  flex-direction: column; 
  margin-top: 100px;
  margin-left: 50px;
}


.checkbox-container{
  display: flex;
  margin-bottom: 10px;
}


