.App{
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
}
.control-container {
  display: flex;
  flex-direction: column; 
  /* margin-top: 50px; */
  margin-left: 20px;
}

.plot-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
  margin-left: 50px;
}

.innerplot-container{
  display: flex;
  flex-direction: row;
}
.summary-container {
  display: flex;
  flex-direction: column; 
  /* margin-top: 100px;
  margin-left: 50px; */
}

.checkbox-container{
  display: flex;
  margin-bottom: 10px;
}

.checkbox-label {
  font-size: 20px;
  font-weight: bold;
}

