* {
  font-family: 'Consolas', monospace;
}

.App {
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: flex;
}

.control-container {
  display: flex;
  /* flex-direction: column;  */
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.vertical-line {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: gray;
  width: 2px;
  height: 820px;
}

.plot-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
}

.plotview-container {
  display: flex;
  flex-direction: row;
}

.summary-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 100px;
  margin-left: 50px; */
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.checkbox-container {
  display: flex;
  margin-right: 0px;

  /* margin-bottom: 10px; */
  /* justify-content: center;z */
}

.checkbox-label {
  display: flex;
  /* width: 150px; */
  font-size: 18px;
  margin-top: 10px;
  margin-right: 40px;
  font-weight: bold;

}

.checkbox-input {
  margin-top: 10px;
  width: 20px;
  /* 체크박스의 너비를 20px로 조절 */
  height: 20px;
  /* 체크박스의 높이를 20px로 조절 */
  margin-right: 5px;
  /* 체크박스와 레이블 사이의 간격을 설정 */
}

.btn-helper {
  position: absolute;
  bottom: 0%;
  left: 90%;
  margin: 0px;
  border-radius: 100%;
  background-color: lightsteelblue;
}

.btn-helper:hover .tooltiptext{
  visibility: visible;
  background-color: midnightblue;
}


.btn-helper .tooltiptext {
  visibility: hidden;
  width: 450px;
  color: #fff;
  text-align: left;
  padding: 10px;

  position: absolute;
  z-index: 1;
}

.btn-helper .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent transparent;

}

.btn-helper .tooltip-1 {
  top: -10px;
  right: 200%;
  border-radius: 0px 0px 6px 6px;

}

.btn-helper .tooltip-1::after {
  top: 50%;
  right: -3%;
  margin-top: -5px;
  border-color: transparent transparent transparent grey;
}

.btn-helper .tooltip-2 {
  top: -35px;
  right: 200%;
}

.btn-helper .tooltip-3 {
  top: -60px;
  right: 200%;
  border-color: black;
  border-radius: 6px 6px 0px 0px;

}


/* CSS */
.btn-summary-toggle {
  position: absolute;
  text-wrap: nowrap;
  font-weight: bold;
  background: #888888;
  border-radius: .5rem;
  border: 0;
  /* box-sizizng: border-box; */
  color: #FFFFFF;
  justify-content: center;
  padding: 4px 8px;  
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  touch-action: manipulation;
  visibility: visible; /* 버튼 숨기기 */
  z-index: 1;
  /* position: absolute;
  text-wrap: nowrap;
  font-weight: bold;
  background-image: linear-gradient(-180deg,  #a6cee3 0%, #1f78b4 100%);
  border-radius: .5rem;
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  justify-content: center;
  padding: 4px 12px;  
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  touch-action: manipulation; */
}

.btn-summary-toggle:hover {
  background: #000000;
}


.h2-corr {
  text-align: center;
}

.div-corrView {
  position: relative;
  width: 400px;
  height: 450px;
  text-align: center;
}

.div-dropdownX {
  position: absolute;
  top: 88%;
  right: 20%;
  width: 200px;
  /* 체크박스의 너비를 20px로 조절 */
  rotate: 90;
}

.div-dropdownY {
  position: absolute;
  top: 40%;
  right: 70%;
  width: 200px;
  /* 체크박스의 너비를 20px로 조절 */
  transform: rotate(270deg);
}

.div-corrPlot {
  position: absolute;
  top: 10%;
  right: 0%
}

.label-r2 {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 10px;
  font-weight: bold;
  border: 2px solid gray;
  background-color: white;
}

.header-scatterplot {
  display: flex;
  font-size: 20px;
  writing-mode: vertical-lr;
  /* text-orientation: upright;  */

  white-space: nowrap;
  /* 줄 바꿈을 방지합니다. */
  transform: rotate(180deg);
  /* position: relative; */
  justify-content: center;
  align-content: center;
  margin: 0;
  height: 100;
  
}

.subtitle-scatterplot {
  display: flex;
  font-size: 15px;
  writing-mode: vertical-lr;
  /* text-orientation: upright;  */

  white-space: wrap;
  /* 줄 바꿈을 방지합니다. */
  transform: rotate(180deg);
  /* position: relative; */
  justify-content: center;
  margin: 0;
  height: 100;

}

.header-linleplot {
  display: flex;
  font-size: 15px;
  writing-mode: vertical-lr;
  /* text-orientation: upright;  */

  white-space: pre;
  /* 줄 바꿈을 방지합니다. */
  transform: rotate(180deg);
  /* position: relative; */
  justify-content: center;
  width: 55px;

}

/* CSS 파일에 구분선 스타일을 정의합니다. */
.separator {
  width: 100px;
  /* 구분선의 너비를 설정하세요. */
  background-color: black;
  /* 구분선의 색상을 설정하세요. */
  margin: 1px;
  /* 구분선의 좌우 여백을 설정하세요. */
  height: 100;
  /* 수평선으로 만들기 위해 높이를 100%로 설정합니다. */
}

.header {
  text-align: center;
  margin-top: 5px;
}