.App{
  display: flex;
  flex-direction: row;
}

.main-container {
  /* display: flex; */
  flex-direction: row;
}
.control-container {
  display: flex;
  /* flex-direction: column;  */
  /* margin-top: 50px; */
  margin-bottom: 30px;
  justify-content: center;
}

.plot-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 50px; */
  margin-left: 50px;
}

.innerplot-container{
  display: flex;
  flex-direction: row;
}
.summary-container {
  display: flex;
  flex-direction: column; 
  /* margin-top: 100px;
  margin-left: 50px; */
}

.checkbox-container{
  display: flex;
  margin-right: 30px;
  
  /* margin-bottom: 10px; */
  /* justify-content: center;z */
}

.checkbox-label {
  display: flex;
  font-size: 25px;
  margin-top: 30px;
  font-weight: bold;
  
}

.checkbox-input{
  margin-top: 30px;
  width: 30px; /* 체크박스의 너비를 20px로 조절 */
  height: 30px; /* 체크박스의 높이를 20px로 조절 */
  margin-right: 5px; /* 체크박스와 레이블 사이의 간격을 설정 */
}

.vertical-heading {
  display: flex;
  
  font-size: 25px;
  writing-mode: vertical-lr; 
  /* text-orientation: upright;  */
  
  white-space: nowrap; /* 줄 바꿈을 방지합니다. */
  transform: rotate(180deg); 
  /* position: relative; */
  justify-content: center;
  
}

/* CSS 파일에 구분선 스타일을 정의합니다. */
.separator {
  width: 100px; /* 구분선의 너비를 설정하세요. */
  background-color: black; /* 구분선의 색상을 설정하세요. */
  margin: 1px; /* 구분선의 좌우 여백을 설정하세요. */
  height: 100; /* 수평선으로 만들기 위해 높이를 100%로 설정합니다. */
}
